/*  */
@import url(./bases/reset.css);
@import url(./pages/employee.css);
@import url(./bases/variables.css);
@import url(./bases/icon.css);
@import url(./bases/button.css);
@import url(./bases/input.css);
@import url(./bases/combobox.css);
@import url(./bases/subcombobox.css);
@import url(./layout/container.css);
@import url(./layout/sidebar.css);
@import url(./layout/header.css);
@import url(./layout/menu.css);
@import url(./layout/content.css);
@import url(./bases/table.css);
@import url(./bases/pagination.css);
@import url(./bases/dialog.css);
@import url(./bases/toast.css);
@import url(./bases/animations.css);
@import url(./bases/form.css);
/* Sử dụng chung*/
/* Text */
.heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}
.title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.title--small {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.caption {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}
.subheader {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.text-menu {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.m-12 {
  margin: 0 12px;
}
.m-16 {
  margin: 0 16px;
}
.w-h-24 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}
.flex {
  display: flex;
  align-items: center;
}
.focus {
  border: var(--main-color);
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.width-table-checkbox {
  width: 50px;
}
.w-150 {
  width: 150px;
}
.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
.border-focus {
  border: 1px solid var(--main-color);
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
}
.col {
  width: 50%;
  display: flex;
}
.col {
  margin-left: 24px;
}
.row ~ .row {
  margin-top: 24px;
}
.col-gap {
  column-gap: 16px;
}
.no-border {
  border: none;
}
/*  */
