.toolbar {
    width: 178px;
    background: #393a3e;
    height: 100vh;
    /* display: none; */
}
.toolbar .toolbar-box {
    padding: 8px 0 0 16px;
}
.toolbar .toolbar-header img {
    width: 96px;
    height: 30px;
}
.toolbar .toolbar-header {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -428px -92px;
    width: 16px;
    height: 16px;
    padding: 8px 30px;
    display: flex;
    align-items: center;
    margin: 10px 0 20px 10px;
}
.toolbar .toolbar-menu {
    display: flex;
    flex-direction: column;
}
.toolbar .toolbar-menu a {
    display: flex;
    color: #f0f1f5;
    text-decoration: none;
    padding: 10px 0;
    align-items: center;
}
.toolbar .toolbar-menu a:nth-child(1) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -33px -1630px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(2) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -78px -1631px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(3) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -121px -1633px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(4) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -165px -1632px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(5) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -206px -1631px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(6) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -254px -1632px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(7) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -294px -1632px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(8) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -339px -1633px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(9) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -382px -1632px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(10) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -427px -1634px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(11) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -471px -1633px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(12) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -514px -1632px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(13) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -552px -1636px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(14) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -592px -1631px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
.toolbar .toolbar-menu a:nth-child(15) .item-img {
    background: url('../assets/icon/Sprites.64af8f61.svg') no-repeat -636px -1631px;
    width: 18px;
    height: 20px;
    padding-right: 27px;
}
