.btn {
  min-width: 80px;
  height: 36px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0 16px;
}
.btn--primary {
  background: var(--main-color);
}
/* btn add */
#btn--add {
}
