.icon {
  background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
}
/* header  */
.header__icon {
  margin: 0 24px;
  background-position: -847px -30px;
}
.user__icon-drop-down {
  background-position: -1076px -28px;
}
/* sidebar */

/* Menu */
.sidebar__dashboard {
  background-position: -30px -1630px;
}
.sidebar__cash {
  background-position: -73px -1628px;
}
.sidebar__bank {
  background-position: -117px -1628px;
}
.sidebar__purchase {
  background-position: -161px -1628px;
}
.sidebar__sale {
  background-position: -204px -1628px;
}
.sidebar__invoice {
  background-position: -249px -1628px;
}
.sidebar__stock {
  background-position: -291px -1628px;
}
.sidebar__tools {
  background-position: -336px -1628px;
}
.sidebar__fixed-assets {
  background-position: -378px -1630px;
}
.sidebar__tax {
  background-position: -423px -1630px;
}
.sidebar__price {
  background-position: -467px -1628px;
}
.sidebar__general {
  background-position: -510px -1628px;
}
.sidebar__budget {
  background-position: -378px -1659px;
}
.sidebar__report {
  background-position: -547px -1628px;
}
.sidebar__finance {
  background-position: -204px -1664px;
}
.sidebar-collapse__icon {
  background-position: -29px -356px;
}
/* table */
.table-icon--sort {
  background-position: -1724px -519px;
}
.table-icon-filter {
  background-position: -1600px -88px;
}
/* Company  */
.company__icon {
  background-position: -1115px -361px;
  width: 16px;
  height: 16px;
  padding: 0 12px;
}
.company__item-title-icon {
  background-position: -1225px -363px;
}
/* Dialog */
.dialog__header-icon {
  background-position: -1171px -356px;
  cursor: pointer;
}
/* toast */
.toast-right-icon {
  background-position: -75px -307px;
  margin-left: 16px;
  cursor: pointer;
}
.toast-icon--success {
  background-position: -844px -308px;
  margin-right: 8px;
}
.toast-icon--error {
  background-position: -792px -1152px;
  margin-right: 8px;
}
.toast-icon--warring {
  background-position: -538px -146px;
  margin-right: 8px;
}
.toast-icon--infor {
  background-position: -672px -462px;
  margin-right: 8px;
}
/* function  */
.btn-function-fix {
  border-right: 1px solid #fff;
}
/* form icon */
.form-icon--help {
  background-position: -89px -144px;
}
.form-icon--close {
  background-position: -144px -144px;
  cursor: pointer;
}
