.main {
  width: 100%;
  height: 100vh;
}
.header {
  position: sticky;
  top: 0;
  height: var(--height-header);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--left,
.header--right {
  display: flex;
  align-items: center;
}

.header__branch-drop-down {
  transform: rotate(90deg);
  background-position: -75px -355px;
}
.main__header--right {
  display: flex;
  align-items: center;
}
.header__notify {
  background-position: -788px -30px;
  cursor: pointer;
}
.header__notify :hover {
  background-color: var(--primary-color);
}
.header__user {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  font-family: "Roboto";
}
.user__avt {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: -352px -894px;
}
.user__name {
  margin: 0 8px;
}
