.sidebar {
  position: relative;
  width: 200px;
  box-sizing: border-box;
  background-color: var(--background-menu-color);
  overflow-y: auto;
}
.sidebar__header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: var(--height-header);
  background-color: var(--background-menu-color);
  width: 100%;
  color: var(--sidebar-text-color);
}
.sidebar__option {
  background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -424px -89px;
  width: 24px;
  height: 24px;
  margin: 0 16px;
  cursor: pointer;
}
.sidebar__logo-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebar__logo-wrapper > span {
  margin-left: 8px;
}
.sidebar__logo {
  width: 20px;
  height: 20px;
  padding: 2px;
  background: url(../../assets/favicon.ico) no-repeat;
  background-position-y: center;
  background-size: 24px 24px;
  cursor: pointer;
}
.sidebar__header > span {
  margin-left: 8px;
}
.sidebar__collapse {
  position: sticky;
  bottom: 0;
  height: 44px;
  border-top: 1px solid var(--border-color);
  width: 100%;
  color: #fff;
  column-gap: 8px;
  display: flex;
  align-items: center;
  background-color: var(--background-menu-color);
}
.sidebar__collapse--click {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-left: 24px;
}

/* Tool Tip */
a[data-c-tooltip] {
}
a[data-c-tooltip]::after {
}
