.fix-icon {
    background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -896px -359px;
    width: 16px;
    height: 16px;
    position: relative;
}
.setting {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #0075c0;
}
.list-setting {
    position: sticky;
    border: 1px solid #babec5;
    background: #fff;
    width: 100px;
    padding: 5px 15px;
    z-index: 11;
    top: 20px;
    display: none;
}
