.tac {
    text-align: center;
}
.tal {
    text-align: left;
}
.tar {
    text-align: right;
}

tbody tr:hover td {
    background: #f2f2f2;
    transition: ease-in-out 0.2s;
}
tbody tr td {
    transition: ease-in-out 0.2s;
}
tbody tr td.active {
    background: #e5f3ff;
}
